<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
	<h1>BookReads!</h1>
	<p>Welcome to BookReads App. Login to continue.</p>
	<a href="/oauth2/authorization/github">Login via GitHub</a>
</body>
</html>
<!-- index.html maps to the root "/" URL. We can either create this index.html file or create a controller that has a GET mapping to the "/" URL. This will make sure the app has something to show after logging in and redirecting to localhost:8080. If not, we get a whitelabeled error page-->
